@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Karla';
    src: url('../assets/fonts/Karla-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}